.flowItem {
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
  padding: 10px;
  transition: 0.3s;
}

.flowItem:hover {
  background-color: var(--mantine-color-default-hover);
}

.flowSettingsTitle {
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding: 10px 0;
  margin-bottom: 10px;
}
