.sectionTitle {
    color: var(--mantine-color-dark);
    padding: 8px;
    font-size: large;
    font-weight: bold;
    margin-right: auto;
}

.projInfoField {
    padding: 3px;
    margin: 5px;
    margin-right: auto;
    font-weight: 600;
}

.projectCard {
    box-shadow: 0rem 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
    transition: 0.5s;
}

.projectCard:hover {
    box-shadow: 2px 0.1875rem 0.75rem rgba(140, 152, 164, 0.25)
}